{{#each articles}}

<div class="article" id="articles-{{id}}">
	<img src="{{photo}}" alt="Article photo" class="article_photo">
	<h2 class="article_name">{{name}}</h2>
	<p class="article_description">{{description}}</p>
	<button type="text" class="article_button">Read All</button>
</div>

{{/each}}